

.side-nav {
  height: 100%;
  width: 360px;
  padding-bottom: 30px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: var(--white);    
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;    
}
 .side-nav .btn-container{
   padding: 0px 17px;
   background-color: var(--primary-color-1);
   color: var(--white);
   line-height: 62px;
   a{
    padding: 0px 10px 0px 0px;
   }
   .title{
     font-weight: var(--font-weight-medium);
   }
   .icon-lg{
     margin-top: -4px;
   }         
}
.side-nav .headingDefault{
  padding: 26px 32px 0px 32px;
  font-size: calc(var(--base-font-size) + 2px);
  font-weight: var(--font-weight-bold); 
}

 .side-nav .heading{
  padding: 26px 32px 0px 32px;
  font-size: calc(var(--base-font-size) + 2px);
  font-weight: var(--font-weight-bold); 
}

.side-nav .heading:hover{
  color: var(--primary-color-2);
  cursor : pointer;
}
.side-nav a {
  padding: 30px 32px 0px 32px;
  text-decoration: none;
  color: var(--primary-color-2);
  display: block;
  transition: 0.3s;
  font-size: calc(var(--base-font-size) + 2px);
  .icon{
    width: 18px;
    height: 18px;
    margin-right: -10px;
  }
}
    
.side-nav a:hover {
  color: var(--primary-color-2);
  cursor : pointer;
}





